/* src/componentes/Card/estilos.css */
.card {
    background: #FFF9EB;
    border-top: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 8px 1px #000000bd;
    padding: 40px;
    display: flex;
    flex: 1;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 69.2%;
}

.card section {
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    align-items: center;
    width: 90%;
}
