footer.sorteio {
    margin: 64px 0;
}

.sorteio .resultado {
    color: #FE652BFC;
    font-size: 25px;
}

.botao-sortear {
    width: 350px;
    height: 52px;
    font-size: 20px;
    box-shadow: 2px 2px 4px 1px #212121;
    border-radius: 45px;
    background-color: #FE652B;
    color: #FFF;
    cursor: pointer;
    margin: 10px 0;
}

.botao-sortear:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.botao-sortear:hover {
    background-color: #4B69FD;
}

select {
    border-radius: 45px;
    height: 52px;
    width: 70%;
    box-sizing: border-box;
    padding: 0 32px;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 2px 2px 4px 1px #212121;
}

select:focus {
    outline: none;
}

p {
    font-size: 20px;
    font-weight: 200;
    margin: 22px;
}

.resultado-sorteio p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #FE652B;
    margin-bottom: -10px;
    margin-top: 10px;
}

.sorteio img {
    width: 70px;
    margin-top: -80px;
}

.sorteio button {
    width: 140px;
    height: 45px;
    font-size: 20px;
    box-shadow: 2px 2px 4px 1px #212121;
    border-radius: 45px;
    background-color: #FE652B;
    color: #FFF;
    cursor: pointer;
}

.sorteio button:hover {
    background-color: #4B69FD;
}

@media screen and (max-width: 800px) {
    select {
        width: 100%;
    }
    .botao-sortear {
        width: 220px;
        margin: 22px 0;
    }
}