form {
    box-sizing: border-box;

    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #4B69FD;

}

.container-input {
    box-sizing: border-box;

    position: absolute;
    width: 100vw;
    height: 60vh;
    left: 0px;
    bottom: 0;

    background: #FFF9EB;
    border: 2px solid #000000;
    border-radius: 64px 64px 0px 0px;
}